<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmqy.erp.mapper.mis.biz.sys.base.MenuMapper">

    <update id="plusSeq" parameterType="map">
        update tMenu
        set seq = seq + 1,
            lastUpdateTime = #{operTime}
        where parentMenuId = #{parentMenuId}
          and seq >= #{seq}
    </update>

    <update id="minusSeq" parameterType="map">
        update tMenu
        set seq = seq - 1,
            lastUpdateTime = #{operTime}
        where parentMenuId = #{parentMenuId}
          and #{seq} >= seq
    </update>
</mapper>
