<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmqy.erp.mapper.mis.biz.rpt.ReportDesignMapper">
    <insert id="saveReportRelation" parameterType="org.zmqy.erp.model.mis.entity.rpt.TemplatePrint">
        insert into tReportRelation (reportId,childReportId,relationType,relationState) VALUES
        (#{reportId},#{childReportId},#{relationType},#{relationState});
    </insert>
    <select id="getReportRelationById" resultType="java.util.Map">
        select * from tReportRelation where reportId = #{reportId}
    </select>
    <select id="getReportRelationByChildId" resultType="java.util.Map">
        select * from tReportRelation where childReportId = #{childReportId}
    </select>
    <delete id="delReportRelation" parameterType="java.lang.String">
        delete from tReportRelation where childReportId = #{childReportId}
    </delete>

    <select id="test" parameterType="java.util.Map" resultType="java.lang.String">
        if #{id} = 2
        return

        select 'aaa'
    </select>
</mapper>