<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmqy.erp.mapper.mis.biz.sys.columnInfo.UserColumnMapper">

    <select id="getUserRequiredColumn" resultType="java.util.Map">
        select hc.columnNo,isnull(uc.columnName,hcl.columnName) as columnName, arrayNo = ''
        from
        tHeadColumn hc
        left join tHeadColumnLang hcl on hc.id = hcl.headColumnId and hcl.langId = #{langId}
        join tMenu m on m.id = hc.menuId
        left join tUserColumn uc on hc.id = uc.columnId and uc.userId = #{userId}
        where (hc.areUserRequired = 1 or hc.areSysRequired = 1)
        and hc.pageTypeNo = #{pageTypeNo}
        and m.menuNo = #{menuNo}
        UNION
        select dc.columnNo,isnull(uc.columnName,dcl.columnName) as columnName , dc.arrayNo
        from
        tDtlColumn dc
        join tMenu m on m.id = dc.menuId
        left join tDtlColumnLang dcl on dc.id = dcl.dtlColumnId and dcl.langId = #{langId}
        left join tUserColumn uc on dc.id = uc.columnId and uc.userId = #{userId}
        where (dc.areUserRequired = 1 or dc.areSysRequired = 1)
        and dc.pageTypeNo = #{pageTypeNo}
        and m.menuNo = #{menuNo}
        order by arrayNo, columnNo
    </select>

    <update id="resetById" parameterType="String">
        update tUserColumn set columnName = '',seq = null,areUserHidden = null,width = null,lastUpdateTime = GETDATE() where id = #{id}
    </update>

</mapper>
