<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmqy.erp.mapper.mis.pc.module.rpt.TemplatePrintModuleMapper">

    <select id="getReportTemplate" resultType="java.util.Map">
        select id,reportId,templateFileName,templateName,scaling,codePrintModel,codeNumber,codeModel,createTime from tTemplatePrint
        where reportId = #{reportId}
        ORDER BY createTime desc
    </select>
</mapper>
