<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anson.miniProject.mapper.views.sys.MenuViewMapper">
    <select id="selMenuByClient"
            resultType="org.anson.miniProject.model.service.menu.MenuVo">
        select 	m.id, m.no, m.icon, m.name,
				m.description, m.parentMenuId
        from menu as m
        where m.areDisplay = 1
        <if test="clientDictId != null and clientDictId != ''">
            and m.clientDictId = #{clientDictId}
        </if>
        order by m.parentMenuId, m.id
    </select>
</mapper>