<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmqy.erp.mapper.mis.pc.component.sys.columnInfo.ColumnCpmMapper">
    <select id="getUseHeadColumnByMenuNo" parameterType="map" resultType="java.util.Map">
        select hc.id,m.id as menuId,ml.menuName,hc.columnNo,hc.pageTypeNo,
        hc.areSysRequired,hc.areUserRequired, case when isnull(uc.columnName,'') ='' then hcl.columnName else uc.columnName end as columnName,
        hcl.columnName as originalName,
        ISNULL(uc.seq, hc.seq) as seq, ISNULL(uc.areUserHidden, 0) as areUserHidden,
        isnull(uc.id,'') as userColumnId
        from
        tHeadColumn hc
        join tHeadColumnLang hcl on hc.id = hcl.headColumnId
        join tMenu m on m.id = hc.menuId
        join tMenuLang ml on m.id = ml.menuId
        left join tUserColumn uc on hc.id = uc.columnId and uc.userId = #{loginUserId}
        where  (uc.areSysHidden is null or uc.areSysHidden = 0)
        and hc.areHidden = 0
        and hc.pageTypeNo = #{pageTypeNo}
        and m.menuNo = #{menuNo}
        and hcl.langId = #{loginLangId}
        and ml.langId = #{loginLangId}
        order by seq
    </select>

    <select id="getUseDelColumnConfigByMenuNo" parameterType="map" resultType="java.util.Map">
        select dc.id,m.id as menuId,ml.menuName,dc.columnNo,dc.pageTypeNo,dc.dataTypeNo,
        dc.areSysRequired,dc.areUserRequired, case when isnull(uc.columnName,'') ='' then dcl.columnName else uc.columnName end as columnName,
        dcl.columnName as originalName,
        ISNULL(uc.seq, dc.seq) as seq, ISNULL(uc.areUserHidden, 0) as areUserHidden,
        isnull(uc.id,'') as userColumnId,isnull(uc.width,dc.width) as width,dc.arrayNo,dc.alias
        from
        tDtlColumn dc
        join tDtlColumnLang dcl on dc.id = dcl.dtlColumnId
        join tMenu m on m.id = dc.menuId
        join tMenuLang ml on m.id = ml.menuId
        left join tUserColumn uc on dc.id = uc.columnId and uc.userId = #{loginUserId}
        where (uc.areSysHidden is null or uc.areSysHidden = 0)
        and dc.areHidden = 0
        and dc.pageTypeNo = #{pageTypeNo}
        and m.menuNo = #{menuNo}
        and dcl.langId = #{loginLangId}
        and ml.langId = #{loginLangId}
        and dc.arrayNo = #{dtlNo}
        order by seq

    </select>

    <select id="getDtlNoList" parameterType="map" resultType="java.lang.String">
        select DISTINCT dc.arrayNo from tDtlColumn dc
        join tDtlColumnLang dcl on dc.id = dcl.dtlColumnId
        join tMenu m on dc.menuId = m.id
        where dc.pageTypeNo = #{pageTypeNo}
        and m.menuNo = #{menuNo}
        and dcl.langId = #{loginLangId}
    </select>

    <select id="getDtlNoListByMenuId" parameterType="map" resultType="java.lang.String">
        select DISTINCT dc.arrayNo from tDtlColumn dc
        join tDtlColumnLang dcl on dc.id = dcl.dtlColumnId
        where dc.pageTypeNo = #{pageTypeNo}
        and dc.menuId = #{menuId}
        and dcl.langId = #{loginLangId}
    </select>

    <select id="getFormulaList" resultType="java.util.Map">
        select dc.formula,dc.columnNo
        from tDtlColumn dc
        join tMenu m on dc.menuId = m.id
        where dc.pageTypeNo = #{pageTypeNo}
        and m.menuNo = #{menuNo}
        and dc.arrayNo = #{dtlNo}
        and dc.formula != ''
    </select>

    <select id="getHeadDetail" parameterType="map" resultType="java.util.Map">
        select
        hc.id, m.id as menuId, hc.columnNo,ISNULL(uc.areUserHidden, 0) as areUserHidden,hcl.columnName as originalName,hc.pageTypeNo,
        hc.areSysRequired,hc.areUserRequired,hcl.columnName,hc.seq,isnull(uc.id,'') as userColumnId
        from
        tHeadColumn hc
        join tHeadColumnLang hcl on hc.id = hcl.headColumnId
        join tMenu m on m.id = hc.menuId
        left join tUserColumn uc on hc.id = uc.columnId and uc.userId = #{loginUserId}
        where (uc.areSysHidden is null or uc.areSysHidden = 0)
        and hc.areHidden = 0
        and hc.pageTypeNo = #{pageTypeNo}
        and m.menuNo = #{menuNo}
        and hcl.langId = #{loginLangId}
        order by hc.seq
    </select>

    <select id="getDtlDetail" parameterType="map" resultType="java.util.Map">
        select dc.id, dc.columnNo,dcl.columnName, dcl.columnName as originalName,
        ISNULL(uc.areUserHidden, 0) as areUserHidden,dc.areSysRequired,dc.areUserRequired,dc.width,dc.seq, dc.arrayNo,isnull(uc.id,'') as userColumnId
        from tDtlColumn dc
        join tDtlColumnLang dcl on dc.id = dcl.dtlColumnId
        join tMenu m on m.id = dc.menuId
        left join tUserColumn uc on dc.id = uc.columnId and uc.userId = #{loginUserId}
        where (uc.areSysHidden is null or uc.areSysHidden = 0)
        and dc.areHidden = 0
        and dc.pageTypeNo = #{pageTypeNo}
        and m.menuNo = #{menuNo}
        and dcl.langId = #{loginLangId}
        and dc.arrayNo = #{dtlNo}
        order by dc.seq
    </select>

    <select id="getDelNameByDtlNo" resultType="map">
        select hc.columnNo, hcl.columnName as columnName, hc.areSysRequired
        from
        tHeadColumn hc
        join tMenu m on m.id = hc.menuId
        left join tHeadColumnLang hcl on hc.id = hcl.headColumnId and hcl.langId = #{loginLangId}
        where
        hc.pageTypeNo = #{pageTypeNo}
        and m.menuNo = #{menuNo}
        and hc.columnNo = #{arrayNo}
    </select>


</mapper>
