<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmqy.erp.mapper.mis.pc.module.sys.flow.flowModule.FlowModuleMapper">
    <select id="getFlowList" parameterType="map" resultType="map">

        select flowId = f.id, f.upFlowId ,f.minLevel, fl.flowName,fl.description
        from tFlow as f
        left join tFlowLang as fl on f.id = fl.flowId and fl.langId = #{langId}
        order by f.id

    </select>

    <select id="getFlowDtlList" parameterType="map" resultType="map">
        select flowDtlId = f.id, f.areLastLevel, f.seq, fl.flowDtlName, fl.flowDesc
        from tFlowDtl as f
        left join tFlowDtlLang as fl on f.id = fl.flowDtlId and fl.langId = #{langId}
        where f.flowId = #{flowId}
        order by f.id
    </select>


    <select id = "getFlowByMenu" parameterType="map" resultType="map">
        SELECT flowId = f.id, f.upFlowId ,f.minLevel, fl.flowName,fl.description,ml.menuName,ml.menuId
        from tFlow AS f
        left join tFlowLang as fl on f.id=fl.flowId and fl.langId= #{langId}
        left join tMenuLang as ml on f.menuId=ml.menuId and fl.langId=ml.langId
        WHERE f.id = #{flowId}
        order by f.id
    </select>
    <!--
    查询单据审批

    <select id="getCheckBill" parameterType="map" resultType="map">

    </select>
     -->
</mapper>
