<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmqy.erp.mapper.mis.pc.component.sys.base.MenuCpmMapper">
    <select id="getUserMenu" resultType="map">
        declare @userId nvarchar(19), @langId nvarchar(19),
                @storeId nvarchar(19)

        /*
        select  @userId = '', @langId = '',
                @storeId = ''
        */

        --/*
        select  @userId = #{userId}, @langId = #{langId},
                @storeId = #{storeId}
        --*/

        declare @storeTypeNo nvarchar(20)

        select @storeTypeNo=storeTypeNo
        from tStore as s
        where s.id = @storeId
        and exists (select 1 from tUserStore as us where us.storeId=s.id and us.userId=@userId)

        select  menuId=m.id, m.menuNo, m.parentMenuId, m.areCatalog, m.menuLevel,
                m.seq, ml.menuName, ml.menuDesc, m.iconUrl,m.reportId
        from tMenu as m
        left join tMenuLang as ml on m.id=ml.menuId and ml.langId=@langId
        join tUserMenu as um on m.id=um.menuId
        where m.menuClientNo = 'menuClient-pc'
          and m.menuLevel > 2
          and ((@storeTypeNo = 'storeType-hq' and m.areHqDisplay = 1)
               or (@storeTypeNo = 'storeType-shop' and m.areShopDisplay = 1)
               or (@storeTypeNo = 'storeType-dc' and m.areDcDisplay = 1))
          and um.userId = @userId
        order by m.parentMenuId, m.seq
    </select>

    <select id="getMenu" parameterType="map" resultType="java.util.Map">
        select m.id, m.menuNo, m.parentMenuId, m.menuLevel, m.seq, ml.menuName
        from tMenu m
        left join tMenuLang ml on m.id=ml.menuId and ml.langId=#{loginLangId}
        <where>
            <if test="menuNoOrName != null and menuNoOrName!= ''">
              (m.menuNo like #{menuNoOrName} or ml.menuName like #{menuNoOrName})
            </if>
        </where>
        order by m.menuLevel, m.seq
    </select>
</mapper>
