<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zmqy.erp.mapper.mis.pc.component.sys.base.ResourceCpmMapper">

    <select id="getMenuResource" parameterType="map" resultType="map">
        select buttonId = r.resOperNo, buttonName = rl.resName,
               isAllow = convert(bit, case when ur.userId is null then 0 else 1 end)
        from tResource as r
        join tMenu as m on r.menuId=m.id
        left join tResourceLang as rl on r.id=rl.resId and rl.langId=#{langId}
        left join tUserResource as ur on ur.resId=r.id and ur.userId=#{userId}
        where m.menuNo = #{menuNo}
    </select>
</mapper>
